<section >
  <table class="table mx-auto w-75 tabela">
    <thead class="head-table">
    <tr>
      <th scope="col"></th>
      <th scope="col">nome</th>
      <th scope="col">produto comprado</th>
      <th scope="col">preço</th>
    </tr>
    </thead>
    <tbody class="tbody-table">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>hamburguer</td>
      <td>{{preco | currency:"BRL"}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th scope="col">total</th>
      <td rowspan="3">{{total | currency:"BRL"}}</td>
    </tr>

    </tfoot>
  </table>
</section>

