$color-bg: #EDE9D5;
$color-button: #E7AB9A;
$color-2:#DF7857;
$color-3:#617143;

$color-hover:  linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);

.nav-bg{
  background: $color-bg;
  .botao{
    background: $color-button;
  }
  .botao:hover{
    background: $color-hover;
  }
  .nav_menu-principal{
    a {

      position: relative;
    }

    a:after {
      content: "";
      display: block;
      height: 2px;
      width: 0;
      background: $color-2;
      margin-top: 4px;
      transition: 0.3s;
      position: absolute;
    }

    a:hover:after,.header-menu a.ativo::after {
      width: 100%;
    }

  }

}
.nav-mobile{
  width: 140px;

  .nav-first{
    border-top: 1px solid $color-2;
  }
a{
  border-bottom: 1px solid $color-2;

  padding: 10px;
}
  a:hover{
    background: $color-hover;
  }
}




