<div class="registro-bg">
  <section class="d-flex flex-wrap py-5 ">
    <!--  email-->
    <div class="mb-3 mx-auto ">
      <label for="exampleFormControlInput1" class="form-label">Email </label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="row g-3 align-items-center mx-auto">
      <div class="col-auto">
        <!--senha-->
      </div>
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Password</label>
        <input type="password" id="inputPassword6" class="form-control">
      </div>
    </div>
    <div class="row g-3 align-items-center mx-auto">
      <div class="col-auto">
        <!--nome-->
      </div>
      <div class="col-auto">
        <label for="nome" class="col-form-label">nome</label>
        <input type="text" id="nome" class="form-control">
      </div>
    </div>


  </section>
  <div class="d-flex my-5">
    <div class="col-auto mx-auto">
      <button type="submit" class="btn  mb-3" (click)="registrar()">registrar</button>
    </div>
  </div>
</div>

