<div class="registro-bg">


  <form class="d-grid py-5 " [formGroup]="formRegistro">
    <div class="mx-auto d-grid mb-5 h1-bg">
      <h1 class="h1-registro mb-3 mx-auto"> Registro </h1>
    </div>
    <!--  email-->
    <div class="mb-3 div-input mx-auto">
      <label for="exampleFormControlInput1" class="form-label">Email </label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"

             formControlName="email"
             [class.valid]="formRegistro.controls['email'].valid"
             [class.invalid]="formRegistro.controls['email'].invalid &&
(formRegistro.controls['email'].touched || formRegistro.controls['email'].dirty)">
      <div
        *ngIf="formRegistro.controls['email'].invalid && (formRegistro.controls['email'].touched || formRegistro.controls['email'].dirty)">
        <small class="error-message" *ngIf="formRegistro.controls['email'].hasError('email')">
          Email invalido!
        </small>
        <small class="error-message" *ngIf="formRegistro.controls['email'].hasError('required')">
          Esse campo precisa ser preenchido.
        </small>

      </div>
    </div>
    <!--senha-->
    <div class=" mx-auto  div-input">
      <div class="col-auto">

      </div>
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Senha</label>
        <input type="password" id="inputPassword6" class="form-control" formControlName="senha" placeholder="insira sua senha..."
               [class.valid]="formRegistro.controls['senha'].valid"
               [class.invalid]="formRegistro.controls['senha'].invalid &&
(formRegistro.controls['senha'].touched || formRegistro.controls['senha'].dirty)">
        <div *ngIf="formRegistro.controls['senha'].invalid &&
           (formRegistro.controls['senha'].touched || formRegistro.controls['senha'].dirty)">
          <small class="error-message" *ngIf="formRegistro.controls['senha'].hasError('required')">
            Esse campo precisa ser preenchido.
          </small>

        </div>
      </div>
    </div>
    <!--nome-->
    <div class=" g-3  mx-auto div-input " >
      <div class="col-auto">

      </div>
      <div class="col-auto">
        <label for="nome" class="col-form-label">nome</label>
        <input type="text" id="nome" class="form-control" formControlName="nome" placeholder="insira seu nome..."
               [class.valid]="formRegistro.controls['nome'].valid"
               [class.invalid]="formRegistro.controls['nome'].invalid &&
           (formRegistro.controls['nome'].touched || formRegistro.controls['nome'].dirty)">
        <div *ngIf="formRegistro.controls['nome'].invalid &&
           (formRegistro.controls['nome'].touched || formRegistro.controls['nome'].dirty)">
          <small class="error-message" *ngIf="formRegistro.controls['nome'].hasError('minlength')">
            Esse campo precisa de no minimo 4 caracteres.
          </small>
          <small class="error-message" *ngIf="formRegistro.controls['nome'].hasError('required')">
            Esse campo precisa ser preenchido.
          </small>

        </div>

      </div>
    </div>


  </form>
  <div class="d-flex my-5">
    <div class="col-auto mx-auto">
      <button type="submit" class="btn  mb-3 me-4" routerLink="/login">Voltar ao login</button>
      <button type="submit" class="btn  mb-3" (click)="registrar()" *ngIf="mostrarBtn" [disabled]="formRegistro.invalid">registrar</button>
      <button type="submit" class="btn  mb-3" (click)="registrarAdm()" *ngIf="!mostrarBtn" [disabled]="formRegistro.invalid">registrar</button>
      <button type="submit" class="btn  mb-3" (click)="registrarAdm()" *ngIf="!mostrarBtn" [disabled]="formRegistro.invalid">registrar</button>

    </div>
  </div>
</div>

