  <section class="contato-bg p-5 rounded d-grid">
    <div class="mb-3 d-grid mx-auto mb-3">
      <!--    email -->
      <label  for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <input [(ngModel)]="usuario.email" type="email" class="form-control" id="staticEmail" placeholder="email@email.com">
    </div>
    <div class="mb-3 d-grid mx-auto mb-4">
      <!--   senha -->
      <label  for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
      <input [(ngModel)]="usuario.senha" type="password" class="form-control" id="inputPassword" placeholder="digite sua senha">
    </div>

    <div class="d-flex mx-auto">
      <div class="col-auto ">
        <button type="submit" class="btn  mb-3" (click)="logar()">login</button>
      </div>
      <div class="col-auto ms-3">
        <button type="submit" class="btn  mb-3" (click)="registrar()">registrar</button>
      </div>
    </div>

  </section>

