<form class="login-bg p-5 rounded d-grid" [formGroup]="formLogin" (ngSubmit)="logar()">
  <div class="mx-auto d-grid mb-5 h1-bg">
    <h1 class="h1-login mb-3 mx-auto">Login</h1>
  </div>
  <div class="mb-3 d-grid mx-auto mb-3 div-input">
    <!--    login -->
    <label for="login" class="col-sm-2 col-form-label">login</label>
    <input type="text" class="form-control" id="login"
           [ngClass]="{'is-invalid': formLogin.controls['login'].invalid &&
           (formLogin.controls['login'].touched || formLogin.controls['login'].dirty), 'is-valid':formLogin.controls['login'].valid} "
           placeholder="login"
           formControlName="login"
           [class.valid]="formLogin.controls['login'].valid"
           [class.invalid]="formLogin.controls['login'].invalid &&
(formLogin.controls['login'].touched || formLogin.controls['login'].dirty)">
  </div>

  <div class="mb-3 d-grid mx-auto mb-4 div-input">
    <!--   password -->
    <label for="inputPassword" class="col-sm-2 col-form-label">password</label>
    <input type="password" class="form-control" id="inputPassword"
           placeholder="digite sua password"
           [ngClass]="{'is-invalid': formLogin.controls['password'].invalid &&
           (formLogin.controls['password'].touched || formLogin.controls['password'].dirty), 'is-valid':formLogin.controls['password'].valid} "
           formControlName="password" [class.valid]="formLogin.controls['password'].valid"
           [class.invalid]="formLogin.controls['password'].invalid &&
(formLogin.controls['password'].touched || formLogin.controls['password'].dirty)">
  </div>

  <div class="d-flex mx-auto my-5">
    <div class="col-auto ">
      <input type="submit" class="btn  mb-3 botao" value="login" [disabled]="!formLogin.valid">
    </div>
    <div class="col-auto ms-3">
      <button type="submit" class="btn  mb-3" (click)="registrar()">registrar</button>
    </div>
  </div>
</form>


