<form class="login-bg p-5 rounded d-grid" [formGroup]="formLogin" (ngSubmit)="logar()">
  <div class="mx-auto d-grid mb-5 h1-bg">
    <h1 class="h1-login mb-3 mx-auto">Login</h1>
  </div>
  <div class="mb-3 d-grid mx-auto mb-3 div-input">
    <!--    email -->
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <input type="email" class="form-control" id="staticEmail"
           [ngClass]="{'is-invalid': formLogin.controls['email'].invalid &&
           (formLogin.controls['email'].touched || formLogin.controls['email'].dirty), 'is-valid':formLogin.controls['email'].valid} "
           placeholder="email@email.com"
           formControlName="email"
           [class.valid]="formLogin.controls['email'].valid"
           [class.invalid]="formLogin.controls['email'].invalid &&
(formLogin.controls['email'].touched || formLogin.controls['email'].dirty)">
    <div
      *ngIf="formLogin.controls['email'].invalid && (formLogin.controls['email'].touched || formLogin.controls['email'].dirty)">
      <small class="error-message" *ngIf="formLogin.controls['email'].hasError('email')">
        Email invalido!
      </small>

    </div>
  </div>

  <div class="mb-3 d-grid mx-auto mb-4 div-input">
    <!--   senha -->
    <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
    <input type="password" class="form-control" id="inputPassword"
           placeholder="digite sua senha"
           [ngClass]="{'is-invalid': formLogin.controls['senha'].invalid &&
           (formLogin.controls['senha'].touched || formLogin.controls['senha'].dirty), 'is-valid':formLogin.controls['senha'].valid} "
           formControlName="senha" [class.valid]="formLogin.controls['senha'].valid"
           [class.invalid]="formLogin.controls['senha'].invalid &&
(formLogin.controls['email'].touched || formLogin.controls['senha'].dirty)">
  </div>

  <div class="d-flex mx-auto my-5">
    <div class="col-auto ">
      <input type="submit" class="btn  mb-3 botao" value="login">
    </div>
    <div class="col-auto ms-3">
      <button type="submit" class="btn  mb-3" (click)="registrar()">registrar</button>
    </div>
  </div>
</form>


