<div class="registro-bg">


  <form class="d-grid py-5 " [formGroup]="formRegistro">
    <div class="mx-auto d-grid mb-5 h1-bg">
      <h1 class="h1-registro mb-3 mx-auto"> Registro </h1>
    </div>
    <!--  login-->
    <div class="mb-3 div-input mx-auto">
      <label for="exampleFormControlInput1" class="form-label">login </label>
      <input type="login" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
             [ngClass]="{'is-invalid': formRegistro.controls['login'].invalid &&
           (formRegistro.controls['login'].touched || formRegistro.controls['login'].dirty), 'is-valid':formRegistro.controls['login'].valid} "

             formControlName="login"
             [class.valid]="formRegistro.controls['login'].valid"
             [class.invalid]="formRegistro.controls['login'].invalid &&
(formRegistro.controls['login'].touched || formRegistro.controls['login'].dirty)">
      <div
        *ngIf="formRegistro.controls['login'].invalid && (formRegistro.controls['login'].touched || formRegistro.controls['login'].dirty)">
        <small class="error-message" *ngIf="formRegistro.controls['login'].hasError('required')">
          Esse campo precisa ser preenchido.
        </small>

      </div>
    </div>
    <!--senha-->
    <div class=" mx-auto  div-input">
      <div class="col-auto">

      </div>
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">password</label>
        <input type="password" id="inputPassword6" class="form-control" formControlName="password" placeholder="insira sua senha..."
               [ngClass]="{'is-invalid': formRegistro.controls['password'].invalid &&
           (formRegistro.controls['password'].touched || formRegistro.controls['password'].dirty), 'is-valid':formRegistro.controls['password'].valid} "

               [class.valid]="formRegistro.controls['password'].valid"
               [class.invalid]="formRegistro.controls['password'].invalid &&
(formRegistro.controls['password'].touched || formRegistro.controls['password'].dirty)">
        <div *ngIf="formRegistro.controls['password'].invalid &&
           (formRegistro.controls['password'].touched || formRegistro.controls['password'].dirty)">
          <small class="error-message" *ngIf="formRegistro.controls['password'].hasError('required')">
            Esse campo precisa ser preenchido.
          </small>

        </div>
      </div>
    </div>
    <!--nome-->
    <div class=" g-3  mx-auto div-input " >
      <div class="col-auto">

      </div>
      <div class="col-auto">
        <label for="nome" class="col-form-label">nome</label>
        <input type="text" id="nome" class="form-control" formControlName="name" placeholder="insira seu nome..."
               [ngClass]="{'is-invalid': formRegistro.controls['name'].invalid &&
           (formRegistro.controls['name'].touched || formRegistro.controls['name'].dirty), 'is-valid':formRegistro.controls['name'].valid} "
               [class.valid]="formRegistro.controls['name'].valid"
               [class.invalid]="formRegistro.controls['name'].invalid &&
           (formRegistro.controls['name'].touched || formRegistro.controls['name'].dirty)">
        <div *ngIf="formRegistro.controls['name'].invalid &&
           (formRegistro.controls['name'].touched || formRegistro.controls['name'].dirty)">
          <small class="error-message" *ngIf="formRegistro.controls['name'].hasError('minlength')">
            Esse campo precisa de no minimo 4 caracteres.
          </small>
          <small class="error-message" *ngIf="formRegistro.controls['name'].hasError('required')">
            Esse campo precisa ser preenchido.
          </small>

        </div>

      </div>
    </div>


  </form>
  <div class="d-flex my-5">
    <div class="col-auto mx-auto">
      <button type="submit" class="btn  mb-3 me-4" routerLink="/login" *ngIf="mostrarBtn">Voltar ao login</button>
      <button type="submit" class="btn  mb-3" (click)="registrar()" *ngIf="mostrarBtn" >registrar</button>
      <button type="submit" class="btn  mb-3" (click)="registrarAdm()" *ngIf="!mostrarBtn">registrar</button>


    </div>
  </div>
</div>

