<form class="contato-bg p-5 rounded d-grid" [formGroup]="formAddProduto">
  <div class="mb-3 d-grid mx-auto mb-5">
    <!--    nome do produto -->
    <label for="email" class="form-label">nome do produto</label>
    <input type="text" class="form-control  border-0" id="email" placeholder="nome do produto" formControlName="nome"
           [class.valid]="formAddProduto.controls['nome'].valid"
           [class.invalid]="formAddProduto.controls['nome'].invalid &&
           (formAddProduto.controls['nome'].touched || formAddProduto.controls['nome'].dirty)">
    <div *ngIf="formAddProduto.controls['nome'].invalid &&
           (formAddProduto.controls['nome'].touched || formAddProduto.controls['nome'].dirty)">
      <small class="error-message" *ngIf="formAddProduto.controls['nome'].hasError('required')">
        Esse campo precisa ser preenchido.
      </small>

    </div>
  </div>

  <!--imagem-->
  <div class="mb-3 mx-auto">
    <label for="formFile" class="form-label"><span class="p-2 rounded img-label" id="span_imagem"
                                                   [innerHtml]="texto()"></span></label>
    <input type="file" accept="image/*" class="form-control" id="formFile" (change)="imagem($event)"
           formControlName="imagem"
           [class.valid]="formAddProduto.controls['imagem'].valid"
           [class.invalid]="formAddProduto.controls['imagem'].invalid &&
           (formAddProduto.controls['imagem'].touched || formAddProduto.controls['imagem'].dirty)">

  </div>
  <!--botão de enviar-->
  <div class="col-auto mx-auto">
    <button type="submit" class="btn  mb-3" [disabled]="formAddProduto.invalid" (click)="enviar()">Enviar</button>
    <button type="submit" class="btn  mb-3 ms-4" [disabled]="formAddProduto.invalid" (click)="atualizar()">Atualizar
    </button>
  </div>
  <p>{{produto.nome}}</p>
  <img [src]="produto.imagem">

</form>

