<footer>
  <div class="footer__container ">
    <section>
<!--   um texto sobre a empresa   -->
<!--   o texto e do um lipsum generator q gera texto automaticamente   -->
      <h2 class="footer__title">sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non libero viverra, gravida lorem ut, hendrerit
        augue. Vivamus laoreet leo non aliquam gravida. Donec facilisis libero ex, quis tristique elit eleifend et.
        Quisque
      </p>
    </section>
<!--  parte sobre como obter contato com a empresa  -->
    <address>
      <h2 class="footer__title ms-4">contato</h2>
      <ul>
        <li><i class="fa-sharp fa-solid fa-envelope"></i> email@email.com</li>
        <li><i class="fa-solid fa-phone"></i> (00) 000-000</li>
        <li><i class="fa-brands fa-whatsapp"></i> (00) 000-000</li>
      </ul>
    </address>
  </div>

</footer>
