<ng-container *ngIf="promocao$ | async as produtos; else loading">
  <div class="card add-promocao_card p-2" style="width: 18rem;">
    <img [src]="produtos?.imageName" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">{{produtos?.name}}</h5>
      <p class="card-text">{{produtos?.ingredients}}</p>
      <p class="card-text">{{produtos?.price|  currency: 'BRL'}}</p>
      <button (click)="comprar()" class="btn ">Adicionar ao carrinho</button>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="card_ p-2 ms-5">
    <div class="shimmerBG media"></div>
    <div class="p-32">
      <div class="shimmerBG title-line"></div>
      <div class="shimmerBG title-line end"></div>

      <div class="shimmerBG content-line m-t-24"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line end"></div>
    </div>
  </div>

  <div class="card_ p-2 ms-5">
    <div class="shimmerBG media"></div>
    <div class="p-32">
      <div class="shimmerBG title-line"></div>
      <div class="shimmerBG title-line end"></div>

      <div class="shimmerBG content-line m-t-24"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line end"></div>
    </div>
  </div>

  <div class="card_ p-2 ms-5">
    <div class="shimmerBG media"></div>
    <div class="p-32">
      <div class="shimmerBG title-line"></div>
      <div class="shimmerBG title-line end"></div>

      <div class="shimmerBG content-line m-t-24"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line end"></div>
    </div>
  </div>
</ng-template>


