$color-button: #E7AB9A;
$color-bg: #EDE9D5;
$color-2: #DF7857;
$color-3: #EEEEEE;
.bg-container{
  background: $color-3;
  position: relative;
  min-height:90vh;
  width: 100%;
  padding-bottom: 1rem;

  .footer-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
  }


}


