<section class="tabela">
  <div class="mx-auto d-grid mb-5 h1-bg">
    <h1 class="h1-registro mb-3 mx-auto">Historico de vendas</h1>
  </div>
  <table class="table mx-auto w-75 ">
    <thead class="head-table">
    <tr>
      <th scope="col"></th>
      <th scope="col">nome</th>
      <th scope="col">produto comprado</th>
      <th scope="col">preço</th>
    </tr>
    </thead>
    <tbody class="tbody-table">
    <tr>
      <th scope="row">1</th>
      <td class="tabela">Mark</td>
      <td class="tabela">hamburguer</td>
      <td class="tabela">{{preco | currency:"BRL"}}</td>
      <td class="border-0"><button class="btn remove-button " (click)="remover()"><i class="fa-solid fa-xmark"></i></button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th scope="col">total</th>
      <td rowspan="3" class="tabela ">{{total | currency:"BRL"}}</td>
    </tr>

    </tfoot>
  </table>
</section>

