<div class=" d-flex row row-cols-1 row-cols-md-2 g-4 p-5 p-md-4 w-100 ">
  <!--inserir as variaveis aqui-->
  <ng-container *ngIf="produtos$ | async as produtos; else loading">
    <div class="card card-container p-2 me-lg-5 me-md-3" *ngFor="let produtos of produtos">
      <div (click)="irParaProdutos(produtos.id)">
        <img [src]="produtos.imageName" class="card-img-top img-fluid w-100" alt="..." width="400" height="300">
        <div class="card-body ">
          <h5 class="card-title">{{produtos.name}}</h5>
        </div>
      </div>
      <div class="d-flex justify-content-end ">
        <button class="btn remove-button" (click)="remover(produtos.id)" *ngIf="eAdm"><i class="fa-solid fa-xmark"></i>
        </button>
        <button class="btn remove-button ms-4" (click)="atualizar()" *ngIf="eAdm"><i
          class="fa-solid fa-pen-to-square"></i></button>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="card_">
      <div class="shimmerBG media"></div>
      <div class="p-32">
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line end"></div>

        <div class="shimmerBG content-line m-t-24"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line end"></div>
      </div>
    </div>
    <div class="card_">
      <div class="shimmerBG media"></div>
      <div class="p-32">
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line end"></div>

        <div class="shimmerBG content-line m-t-24"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line end"></div>
      </div>
    </div>
    <div class="card_">
      <div class="shimmerBG media"></div>
      <div class="p-32">
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line end"></div>

        <div class="shimmerBG content-line m-t-24"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line end"></div>
      </div>
    </div>

  </ng-template>
</div>


