<section>
  <div class="mx-auto d-flex mb-5 h1-bg">
    <h1 class="h1-registro mb-3 mx-auto">Carrinho</h1>
  </div>
<div class="d-flex row div-carrinho ">


  <ng-container *ngIf="itensCarrinho.length >0 else semProduto">
    <ul>
      <li class="justify-content-between align-items-center d-flex" *ngFor="let carrinho of itensCarrinho">

        <img [src]="carrinho.imageName">
        <p>{{carrinho.name}}</p>
        <p>{{carrinho.price|currency: "BRL"}}</p>


        <button class="remove-button" (click)="removeProdutoCarrinho(carrinho.id)"><i class="fa-solid fa-xmark"></i>
        </button>
      </li>

    </ul>
    <h2 class="cart-total ms-4">Total:{{total}}</h2>
    <button class="buy-button btn w-auto " (click)="comprar()">Comprar</button>
  </ng-container>
</div>

  <ng-template #semProduto>
    <div class="shimmer">
      <div class="wrapper">
        <div class="image-card animate"></div>
        <div class="stroke animate title"></div>
        <div class="stroke animate link"></div>
        <div class="stroke animate description"></div>
      </div>
    </div>
  </ng-template>


</section>
