<div class="row row-cols-auto  row-cols-md-2 g-4 w-100 ">
  <!--inserir as variaveis aqui-->
  <ng-container *ngIf="produtos$ | async as produtos; else loading">
    <div class="d-flex flex-column  card card-container p-2 ms-5 " *ngFor="let produto of produtos">
      <div>
        <img [src]="produto?.imageName" class="card-img-top img-fluid w-100 " alt="..." width="400" height="300">
      </div>

      <div class="card-body ">
        <div>
          <h5 class="card-title ">{{produto?.name}}</h5>
        </div>
        <div>
          <p class="card-text">{{produto?.ingredients}}</p>
        </div>

        <div>
          <p class="card-text">{{produto?.price | currency: "BRL"}}</p>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <button class="btn btn-card" routerLink="/adicionar-carrinho-promocao/{{produto.id}}">Comprar</button>
        </div>
        <div>
          <button class="btn remove-button" (click)="remover(produto.id)" *ngIf="eAdm"><i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div>
          <button class="btn remove-button" (click)="atualizar(produto.id)" *ngIf="eAdm"><i
            class="fa-solid fa-pen-to-square"></i></button>
        </div>
      </div>

    </div>
  </ng-container>

</div>

<ng-template #loading>
  <div class="card_ p-2 ms-5">
    <div class="shimmerBG media"></div>
    <div class="p-32">
      <div class="shimmerBG title-line"></div>
      <div class="shimmerBG title-line end"></div>

      <div class="shimmerBG content-line m-t-24"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line end"></div>
    </div>
  </div>

  <div class="card_ p-2 ms-5">
    <div class="shimmerBG media"></div>
    <div class="p-32">
      <div class="shimmerBG title-line"></div>
      <div class="shimmerBG title-line end"></div>

      <div class="shimmerBG content-line m-t-24"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line end"></div>
    </div>
  </div>

  <div class="card_ p-2 ms-5">
    <div class="shimmerBG media"></div>
    <div class="p-32">
      <div class="shimmerBG title-line"></div>
      <div class="shimmerBG title-line end"></div>

      <div class="shimmerBG content-line m-t-24"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line end"></div>
    </div>
  </div>
</ng-template>







