$color-bg: #EDE9D5;
$color-3:#617143;
$font-roboto:roboto, serif;
.card-container{
  width: 22.199rem;
  background: $color-bg;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  h5{
    color:  $color-3;
    font-family: $font-roboto;
  }
}

