$color-bg: #EDE9D5;
$color-3:#617143;
$font-roboto:roboto, serif;
$color-button:#E7AB9A;
$color-hover:  linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
$font-700:  700 ;
@mixin botao() {

  color: #fff;
  background: $color-button;
  font-weight: $font-700;

}
.card-container{
  width: 22.199rem;
  background: $color-bg;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  h5{
    color:  $color-3;
    font-family: $font-roboto;
  }
  .remove-button{
@include botao
  }
  .remove-button:hover{
    background: $color-hover;
  }
}

