$color-bg: #EDE9D5;
$color-button: #E7AB9A;
$color-2: #DF7857;
$color-3: #617143;
$color-hover: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
$font-roboto: 'roboto', serif;
$font-babe: 'Rajdhani', sans-serif;
$font-700: 700;
@mixin botao() {
  color: #fff;
  background: $color-button;
  font-weight: $font-700;
}

section {
  .cart-title {
    font-size: 44px;
    color: #000;
    font-weight: $font-700;
    padding: 8px 0;
    font-family: $font-roboto;
  }

  li {
    width: 95%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
    height: 100px;
    font-family: $font-babe;
    font-size: 18px;
    color: $color-3;

    background: $color-bg;

    img {
      width: 100px;
      height: 100px;
      display: block;
    }

    .remove-button {
      background-color: red;
      border: none;
      color: white;
      padding: 20px;
      height: 100%;
      transition: .2s all;
    }

    .remove-button:hover {
      filter: brightness(0.9);
    }
  }

  .cart-total {
    font-size: 24px;
    color: #000;
    font-weight: 700;
    padding: 8px 0;
    font-family: $font-roboto;
  }


  .buy-button {
    @include botao;

  }

  .buy-button:hover {
    background: $color-hover;

  }
}

