// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

//cores

//resetar css
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
}
input[type=number],input[type=number]:focus {
  -moz-appearance:textfield;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}
