<form class="contato-bg p-5 rounded d-grid" [formGroup]="formAddProduto">
  <div class="mx-auto d-grid mb-5 h1-bg">
    <h1 class="h1-registro mb-3 mx-auto">alterar Lista de produtos</h1>
  </div>

  <div class="mb-3 d-grid mx-auto mb-5 div-input">
    <!--    nome do produto -->
    <label for="email" class="form-label">nome do produto</label>
    <input type="text" class="form-control" id="email" placeholder="Digite um nome..." formControlName="name"
           [ngClass]="{'is-invalid': formAddProduto.controls['name'].invalid &&
           (formAddProduto.controls['name'].touched || formAddProduto.controls['name'].dirty), 'is-valid':formAddProduto.controls['name'].valid} "
           [class.valid]="formAddProduto.controls['name'].valid"
           [class.invalid]="formAddProduto.controls['name'].invalid &&
           (formAddProduto.controls['name'].touched || formAddProduto.controls['name'].dirty)">
    <div *ngIf="formAddProduto.controls['name'].invalid &&
           (formAddProduto.controls['name'].touched || formAddProduto.controls['name'].dirty)">
      <small class="error-message" *ngIf="formAddProduto.controls['name'].hasError('required')">
        Esse campo precisa ser preenchido.
      </small>

    </div>
  </div>

  <!--imagem-->
  <div class="mb-3 mx-auto">
    <label for="formFile" id="span_imagem" class="form-label img-label"><img
      [src]="fotoSrc" class=" img" ></label>
    <input type="file" accept="image/*" class="form-control" id="formFile" (change)="imagem($event)"
           formControlName="ImageName"
           [class.valid]="formAddProduto.controls['imageName'].valid"
           [class.invalid]="formAddProduto.controls['imageName'].invalid &&
           (formAddProduto.controls['imageName'].touched || formAddProduto.controls['imageName'].dirty)">

  </div>
  <!--botão de enviar-->
  <div class="col-auto mx-auto">
    <button type="submit" class="btn  mb-3 ms-4" (click)="atualizar()" [disabled]="formAddProduto.invalid">Atualizar
    </button>
  </div>

</form>


