<div class="contato-bg p-5 rounded d-grid" >
  <div class="mx-auto d-grid mb-5 h1-bg">
    <h1 class="h1-registro mb-3 mx-auto">Deletar Lista de produtos</h1>
  </div>

  <div class="mb-3 d-grid mx-auto mb-5 div-input">
    <!--    nome do produto -->
    <label for="email" class="form-label">nome do produto</label>
    <input type="text" class="form-control" id="email" [(ngModel)]="name" disabled>
  </div>

  <!--imagem-->
  <div class="mb-3 mx-auto">
    <label for="formFile" class="form-label img-label"><img
      [src]="fotoSrc" class="img" ></label>
    <input type="file" accept="image/*" class="form-control" id="formFile"
           [(ngModel)]="imageName" disabled>
  </div>
  <!--botão de enviar-->
  <div class="col-auto mx-auto">
    <button type="submit" class="btn  mb-3" (click)="deletar()">Deletar</button>
  </div>

</div>

